ion-toolbar.bg-search-bar{
    --background-color: #fafafa;
}
ion-card-header{
    padding: unset;
}
/*.gradient-card{
    background: linear-gradient(-90deg, #F56217, #0B486B);
}*/
ion-progress-bar{
    --progress-background: linear-gradient(90deg, #f12711, #f5af19 );
}
.label{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
