<ion-header>
  <ion-toolbar>
    <ion-row>       
      <ion-button routerLink="/welcome" routerDirection="backward" fill="clear">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
      <ion-title>Sign In</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>

      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button padding expand="block" routerLink="/feed" routerDirection="forward">Logar</ion-button>

    </ion-list>
  </form>
</ion-content>
