<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="bg-search-bar">
    <ion-searchbar animated="true" showCancelButton="false"></ion-searchbar>
  </ion-toolbar>
  <ion-card *ngFor="let promocao of promocoes">
    <ion-card-header>
      <img src="{{promocao.img}}">
    </ion-card-header>
    <ion-card-title padding>
      <ion-grid class="no-padding">
        <ion-row align-items-center>
          <ion-col size="10" class="no-padding">{{promocao.nome_promocao}} R$ {{promocao.valor}}</ion-col>
          <ion-col size="2" class="no-padding"><ion-button fill="clear"><ion-icon name="bookmark"></ion-icon></ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
    <ion-card-content>
      {{promocao.texto}}
    </ion-card-content>
    <ion-label class="label">Avaliação média</ion-label>
    <ion-item>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-item lines="none">
            <!-- <ion-icon name="thermometer" [ngStyle]="{'color':getColor(promocao.id)}"></ion-icon> -->
            <ion-icon name="thermometer" [ngStyle]="{'color':iconColor(promocao.id)}"></ion-icon>
            <ion-label>{{promocao.temperatura}}°</ion-label>
          </ion-item>
        </ion-row>
      </ion-grid>     
    </ion-item>
    <ion-label class="label">Sua avaliação</ion-label>
    <ion-item>
      <ion-icon name="thermometer" size="small" color="primary"></ion-icon>
      <ion-range #range (ionChange)="mudarCorRange(range)" step="25" min="0" max="100" snaps="true" pin="true"></ion-range>
      <ion-icon name="thermometer" color="danger"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
